@import "_default";

.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.8s ease 0s;
   z-index: 50;
   &.open {
     opacity: 1;
     visibility: visible;
     .popup__content {
       transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
       opacity: 1;
     }
   }
   &__area {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
   }
   &__body {
     min-height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 30px 10px;
     transition: all 0.8s ease 0s;
   }
   &__content {
     background-color: #fff;
     color: #000;
     max-width: 800px;
     min-width: 400px;
     padding: 30px;
     position: relative;
     transition: all 0.8s ease 0s;
     opacity: 0;
     transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
   }
   &__content_image {
     padding: 0;
   }
   &__image img {
     max-width: 100%;
     vertical-align: top;
   }
   &__close {
     position: absolute;
     right: 10px;
     top: 10px;
     font-size: 20px;
     color: #000;
     text-decoration: none;
   }
   &__title {
     font-size: 32px;
     margin: 0 0 1em 0;
     &--min {
       font-size: 18px;
       margin: 3px 5px;
     }
   }
 }

 .central {
    text-align: center;
    margin-top: 100px;
    a {
       color: blue;
       text-decoration: underline;
    }
 }
 


@import "_adaptive";